@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@keyframes wiggle {
  0%, 100% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
}

@keyframes scrollL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollR {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


@theme {
  --font-figtree: "figtree", sans-serif; 
  --font-inter: "inter", sans-serif; 
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

.animate-scrollL {
  animation: scrollL 20s linear infinite;
}
.animate-scrollR {
  animation: scrollR 20s linear infinite;
}

.animate-scrollL:hover,
.animate-scrollR:hover {
  animation-play-state: paused;
}
.animate-wiggle:hover{
  animation: none ;
}